VITE_API_URL=/api
VITE_STARKNET_NETWORK=sepolia
VITE_STARKNET_RPC_URL=https://starknet-sepolia.public.blastapi.io/rpc/v0_7
VITE_PRIVY_APP_ID=your_privy_app_id
VITE_AVNU_API_KEY=your_avnu_api_key
VITE_AVNU_PAYMASTER_URL=https://sepolia.paymaster.avnu.fi
VITE_STRK_STAKING_POOL=0x03745ab04a431fc02871a139be6b93d9260b0ff3e779ad9c8b377183b23109f1
